<section class="mt-2">
  <h2 class="text-center text-2xl">{{ 'distributors.TITLE' | transloco }}</h2>

  <article class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-5">
    <app-new-record-card (add)="openModal()"></app-new-record-card>
    <app-card
      *ngFor="let distributor of distributors"
      [title]="distributor.name"
      [subtitle]="distributor.code">
      <content>
        <p class="mb-0.5">{{ 'distributors.EMAIL-NOTIFICATE' | transloco }}:</p>
        <p class="mb-3 pl-1.5 text-emerald-300">{{ distributor.email_notificate }}</p>

        <p class="mb-0.5">{{ 'distributors.EMAIL-ALERT' | transloco }}:</p>
        <p class="mb-3 pl-1.5 text-emerald-300">{{ distributor.email_alert }}</p>
      </content>
      <section actions class="flex justify-between">
        <button
          (click)="openModal(distributor)"
          mat-flat-button
          color="primary"
          class="flex flex-row mt-1">
          <span class="mb-0">
            {{ 'form.EDIT' | transloco }}
          </span>
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="delete(distributor.id)"
          mat-flat-button
          color="warn"
          class="flex flex-row mt-1">
          <span class="mb-0">
            {{ 'form.DELETE' | transloco }}
          </span>
          <mat-icon>delete</mat-icon>
        </button>
      </section>
    </app-card>
  </article>
</section>
